@page
@inject IHttpContextAccessor HttpContextAccessor;
@using YoublogProject.Models
@using YoublogProject.Utils
@model YoublogProject.Pages.Posts.EditPostModel
@{
}

@{
    var user = SessionUtil.GetObjectFromJson<User>(HttpContextAccessor.HttpContext.Session, "user") as User;
}

<div style="margin-top: 100px;" class="d-flex flex-column">
    <div class="post border shadow">
        <form class="p-3" method="post" enctype="multipart/form-data">
            <div class="d-flex w-100 justify-content-between mb-3">
                <div class="d-flex align-items-center gap-3 ">
                    <img class="avatar-circle" src="~/media/@user?.Avatar" />
                    <div class="d-flex flex-column align-items-baseline">
                        <span class="name">@user?.FullName</span>
                        <i>@DateTime.Now.ToString("MM/dd/yyyy")</i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="privacyMode">Privacy Mode:</label>
                    <select class="form-select" id="privacyMode" asp-for="PostDto.PrivacyMode">
                        <option value="public" >Public</option>
                        <option value="private">Private</option>
                        <option value="friends">Friends</option>
                    </select>
                </div>
            </div>
            <div class="form-group  mb-3">
                <label class="form-label text-start" for="contentDescription">Content Description:</label>
                <textarea class="form-control" id="contentDescription" rows="3" asp-for="PostDto.Description">
                    @Model?.Post?.Content?.Description
                </textarea>
            </div>

            <div class="form-group  mb-3">
                <label for="imageFile">Select Image:</label>
                <input type="file" class="form-control-file" id="imageFile" onchange="displaySelectedImage(event, 'selectedImage')" asp-for="PostDto.ContentMedia">
            </div>

            <div class="mb-4">
                @if (Model?.Post?.Content?.ContentUrl != null)
                {
                    <img id="selectedImage" src="/media/@Model?.Post?.Content?.ContentUrl"
                    alt="example placeholder" style="width: 100%; height: auto; object-fit: cover" />
                }else
                {
                    
                <img id="selectedImage" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/D.E.M.O._Logo_2006.svg"
                     alt="example placeholder" style="width: 100%; height: auto; object-fit: cover" />
                }
            </div>
           
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>

<script>
        document.getElementById("privacyMode").value = "@Model?.Post?.PrivacyMode";

    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>