html {
    height: 100%;
    background-color: #ffffff
}

.stories {
    height: 250px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    gap: 5px;
    overflow: hidden;
}

.post-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.post {
    width: 100%;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.avatar-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.photo {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
}

.story {
    height: 200px;
    width: 150px;
    object-fit: cover;
}

.post-action div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

    .post-action div:hover {
        background-color: #e9ecef;
    }
